<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Average</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <th scope="row">{{student.StudentId}}</th>
      <td>{{student.Name}}</td>
      <td>{{student.Email}}</td>
      <td>{{student.Average?.toFixed(2)}}</td>
      <td class="clearfix">
        <fa-icon [icon]="faTimes" 
                 class="float-right mr-1" 
                 [style.cursor]="'pointer'"
                 (click)="remove(student)">
        </fa-icon>
      </td>
    </tr>
  </tbody>
</table>
